{% extends 'profileBase.html.twig' %}
{% block title %}COMMENTAIRES{% endblock %}
{% block adminPageTitle %}COMMENTAIRES{% endblock %}
{% block body %}
    <div class="content col-9">
        <div class="container">
            <section>
                <h2>
                    <span style="text-transform:uppercase">Mes messages</span>
                </h2>
                {% for comment in app.user.comments %}
                    {% if comment.reported != false %}
                        <div class="row">
                            <div class="col-12">
                                MESSAGE posté le
                                {{  comment.createdAt | date('d/m/Y') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ comment.comment }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <a class="btn btn-success" href="#" role="button">Modifier</a>
                            </div>
                            <div class="col-4">
                                <a class="btn btn-danger" href="{{ path('user_delete_com'), {'id': comment.id} }}" role="button">Supprimer</a>
                            </div>
                            <hr align="center" size="8" width="100%"/>
                        </div>
                    {% endif %}
                {% endfor %}
            </section>
        </div>
    </div>
{% endblock %}
