{% extends 'profileBase.html.twig' %}
{% block title %}TABLEAU DE BORD PROFILE{% endblock %}
{% block adminPageTitle %}ESPACE PERSONNEL{% endblock %}
{% block body %}
    <div class="content col-9">
        <div class="card">
            <div class="crad-header">
                <h2>Vue Globale</h2>
            </div>
            <div class="card-body">
                <div class="col-md-4">
                    <div class="card">
                        <h3>
                            <a href="{{ path('user_comments') }}" class="list-group-item">
                                <i class="fas fa-book">
                                    <span class="badge"></span>
                                </i>
                            </a>
                        </h3>
                        <h5>Commentaires</h5>
                        {{ countUserComments }}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-4">
                    <div class="card">
                        <h3>
                            <a href="{{ path('user_reported_com') }}" class="list-group-item">
                                <i class="fas fa-comment-dots">
                                    <span class="badge"></span>
                                </i>
                            </a>
                        </h3>
                        <h5>Commentaires notifiés</h5>
                        {{ countUserReportedComents }}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
