{% extends 'profileBase.html.twig' %}
{% block title %}NOTIFICATIONS{% endblock %}
{% block adminPageTitle %}MESSAGES NOTIFIÉS{% endblock %}
{% block body %}
    <div class="content col-9">
        <div class="container">
            <h2>
                <span style="text-transform:uppercase">mes messages signalés</span>
            </h2>
            {% for comment in app.user.comments %}
                {% if comment.reported != true  and app.user.comments is not empty %}
                    <div class="row">
                        <div class="col-12">
                            COMMENTAIRE posté le
                            {{  comment.createdAt | date('d/m/Y') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ comment.comment }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <a class="btn btn-success" href="#" role="button">Modifier</a>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-danger" href="#" role="button">Supprimer</a>
                        </div>
                        <hr align="center" size="8" width="100%"/>
                    </div>
        
                    {% else %}
                    <p>srjbir;r</p>
                    {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock %}
