{% extends 'profileBase.html.twig' %}
{% block title %}NOTIFICATIONS{% endblock %}
{% block adminPageTitle %}MESSAGES NOTIFIES{% endblock %}
{% block body %}
    <div class="content col-9">
        <div class="container">
            <h2>
                <span style="text-transform:uppercase">mes messages signalés</span>
            </h2>
            
            {% for comment in reportedCom %}
                
                    <div class="row">
                        <div class="col-12">
                            COMMENTAIRE posté le
                            {{  comment.createdAt | date('d/m/Y') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ comment.comment }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <a class="btn btn-success" href="#" role="button">Modifier</a>
                        </div>
                        <div class="col-4">
                            <a class="btn btn-danger" href="{{ path('user_delete_reported_com', {'id': comment.id}) }}" role="button">Supprimer</a>
                        </div>
                        <hr align="center" size="8" width="100%"/>
                    </div>
        
                    {% else %}
                    <div class="alert alert-info alert-dismissible fade show" style="text-align: center;">
                        Vous n'avez aucun message signalé. 
                    </div>

            {% endfor %}
            
                    <div class="pagination">
                        {{ knp_pagination_render(reportedCom) }}
                    </div>
        </div>
    </div>
{% endblock %}
