{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
      <!-- Header -->
      <header class="masthead d-flex">
        <div class="container text-center my-auto">
          <h1 class="mb-1">DÉVELOPPEUR WEB JUNIOR</h1>
          <hr>
          <h3 class="mb-5">
            <em>BOKOLO N'DJALI Yannick</em>
          </h3>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="{{ path('cv') }}">Codons ensemble !</a>
        </div>
        <div class="overlay"></div>
      </header>
{% endblock %}
