{% extends 'base.html.twig' %}
{% block title %}Skills{% endblock %}
{% block body %} 
<div class="main_title_topContainer" style="text-align: center;min-height:500px;background-attachment: fixed;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url('img/wall.jpg')"><h1 class="main_title">Mes "skills" | Competences</h1></div>
<div class="container"> 
   <section>
       <div class="card skills_card">
           <div class="card-content">
               <h2>FRONT-OFFICE</h2>
               <div class="row text-content">
                   
               </div>
           </div>
       </div>

       
   </section>
</div>
{% endblock %}
