{% extends 'base.html.twig' %}
{% block title %}Projets{% endblock %}
{% block body %}
<div style="text-align: center;min-height:500px;background-attachment: fixed;background-position: center;background-size: cover;background-repeat: no-repeat;background-image: url('img/wall.jpg')">
  <h1>MES PROJETS</h1>
</div>
<div class="container-fluid">
      <div class="container-fluid mainProjectCont">
      {% for project in projects %}
      <a class="portfolio-item" href="{{ path('show_project',{'id': project.id}) }}">
        <div class="projectContainer">
          <img src="{{ project.imageUrl }}" alt="">
          <div class="post-s">
            <h2>{{ project.name }}</h2>
            <p class="mb-0">{{ project.createdAt | date('d/m/Y') }}</p> 
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
