{% extends 'base.html.twig' %}
{% block title %}Show a Project{% endblock %}
{% block body %}
  
<div class="container-fluid mainProjectCont-show_project">
    <div class="projectContainer-show_project">
        <h1>{{ project.name }}</h1>
        <img src="../img/leone-venter-VieM9BdZKFo-unsplash.jpg" alt="">
        <p class="mb-0">{{ project.createdAt | date('d/m/Y') }}<br>{{ project.description }}</p> 
    </div>
</div>
{% endblock %}
