/* ---------------------------------------- */
/* ==            GENERAL                */
/*---------------------------------------- */
/*Fonts*/
@font-face {
    font-family: 'Aquatico';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Aquatico-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Amerika';
    font-style: normal;
    font-weight: 100;
	src: url('../fonts/AMERSN__-webfont.woff') format('woff');
}

@font-face {
    font-family: 'AdventPro';
    font-style: normal;
    font-weight: 100;
	src: url('../fonts/adventpro-semibold-webfont.woff') format('woff');
}

body, html
{
	height: 100%;
	font-family: 'Amerika' !important;
}

h2, h3, h4{
	text-align: center;
}

.main_title_topContainer{
	position: relative;
	font-family: 'Aquatico';
}
a{
	color: #659DBD !important;
}
a:hover{
	color:#062f4f !important;
	text-decoration: none !important;
}
/*All p*/
p{
	font-family: 'AdventPro', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*Page h1 Titles*/
.main_title{
    position: absolute;
    top: 200px;
    left: 5%;
    right: 0%;
    font-size: 4rem;
    color: white;
    text-shadow: 0px 3px 0px #659DBD,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

/*****NAVBAR for Site pages*****/
/* Main Navbar */
nav#mainNav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .5s;
	z-index: 200;
}
/*Top Container Blue Bricks Background*/ 
.main_title_topContainer{
	text-align: center;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/wall.jpg);
}
/* NavBar scrolling */
nav#mainNav.black{
	background: rgba(0, 0, 0, 0.7);
	height: 130px;
	padding: 10px 50px;
}

.sectionFirst{
	height: 120px;
	width: 100%;
}
.sectionSecond{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.connexion_group{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
/*Link for admin dashborad*/
nav#mainNav .connexion_group div.col-md-3, nav#mainNav .connexion_group div.col-md-3 a{
	color: white;
}
nav#mainNav .connexion_group div.col-md-3 a:hover{
	color: red;
	text-decoration: none;
}
/*Logo*/
.myLogo img
{
	height: 120px;
}

/*Button dropdown menu*/
button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle.connexion_btn, 
button.btn.btn-outline-primary:hover, 
button.btn.btn-success, 
a.btn.btn-success{
	color: #fff;
	background-color: #083b66;
	border-color: rgba(0, 0, 0, 0.01);
}

button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle.connexion_btn:hover, 
.btn.btn-primary.btn-xl.js-scroll-trigger:hover, 
button.btn.btn-outline-primary,
button.btn.btn-success:hover,
a.btn.btn-success:hover{
	color: #659DBD;
	background-color: white;
	border-color: rgba(0, 0, 0, 0.01);;
}
/*Overlay: my Nav*/
.my_overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background:rgba(0,0,0,.9);
	overflow-x: hidden;
	z-index: 5;
	transition: all 0.9s;
}

.my_overlay__content
{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.my_overlay a
{
	padding: 10px;
	color: #ffffff;
	font-size: 40px;
	text-decoration: none;
	display: block;
}

.my_overlay a:hover
{
	color: #659DBD;
	text-decoration: none;
}

.my_overlay .closeMyBtn
{
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 50px;
	color: #ffffff;
	cursor: pointer;
}

.my_overlay .closeMyBtn:hover
{
	color: #5D5C61;
}

.openMyBtn
{
	width: 30px;
	height: 20px;
	position: absolute;
	margin: 0px;
	top: 30px;
	left: 30px;
	cursor: pointer;
}

.openMyBtn span
{
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
}

.openMyBtn span
{
	background-color: white;
}

.openMyBtn span.homeSpan
{
	background-color: #062f4f;
}

.openMyBtn span:nth-child(1)
{
	top: 0px;
}

.openMyBtn span:nth-child(2)
{
	top: 10px;
}

.openMyBtn span:nth-child(3)
{
	top: 20px;
}
/*FOOTER*/
footer#sticky-footer.py-4.bg-dark.text-white-50{
	display: flex;
	flex-direction: row;
}
footer a{
	color: rgba(255,255,255,.5)!important;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            HOME PAGE                */
/*---------------------------------------- */

/*Header*/
header.masthead.d-flex
{
	min-height: 95%;
	background-image: url(../img/glasses_on_computer.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: auto;
}

.main_title_home{
	color: #062f4f;
    text-shadow: 0px 2px 0px rgba(0,0,0,0.04),
                 0px 5px 8px rgba(0,0,0,0.04),
                 0px 10px 2px rgba(0,0,0,0.04),
                 0px 15px 20px rgba(0,0,0,0.04);
}

.my_name{
	color: gray;
}

/*Button "Codons ensemble"*/
.btn.btn-primary.btn-xl.js-scroll-trigger
{
	background: #659DBD;
	border: #659DBD;
}
a.btn.btn-primary.btn-xl.js-scroll-trigger{
	color: white !important;
}
a.btn.btn-primary.btn-xl.js-scroll-trigger:hover{
	color: #062f4f !important;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            PROJECT PAGE                */
/*---------------------------------------- */

/*Project boxes*/

.box_project .title{
	display:inline-block;
	margin:0;
	position:absolute;
	background:#659DBD;
	font-size:20px;
	color:#fff;
	padding:5px 7px;
	border-radius:5px;
	font-weight:100;
	bottom:20px;
	left:20px;
	transition:all .9s ease 0s;
}
.box_project .icon{
	margin:0;
	position:absolute;
}
.box_project{
	box-shadow:0 1px 4px rgba(255, 255, 255, 0.8), 0 0 40px rgba(0, 0, 0, 0.6) inset;
	position:relative;
	margin: 20px auto;
	overflow:hidden;
	text-align:center;
	max-width: 600px;
}
.box_project img{
	width:100%;height:auto;
}
.box_project .box-content{
	width:100%;
	height:100%;background:rgba(0,0,0,.6);
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	transform:perspective(400px) rotateX(-90deg);
	transform-origin:center top 0;
	transition:all .5s ease 0s;
}
.box_project:hover .box-content{
	opacity:1;
	transform:perspective(400px) rotateX(0);
}
.box_project .icon li a{
	transition:all .35s ease 0s;
	text-align:center;
	background:#659DBD;
	font-size:20px;
	color:#fff;
	display:block;
	width:40px;
	height:40px;
	line-height:40px;
	border-radius:50%;
	margin-right:7px
}
.box_project .icon li a:hover{
	background:#fff;
	color:#000;
}
.box_project:hover .title{
	bottom:-40px;
}
.box_project .icon{
	list-style:none;
	padding:0;
	top:42%;
	left:0;
	right:0;
}

.box_project .icon li{
	color: white;
	display:inline-block;
}



@media only screen and (max-width:990px){.box_project{margin-bottom:20px}
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            SHOW ONE PROJECT PAGE                */
/*---------------------------------------- */
.container-fluid.show_project{
	text-align: center;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            ABOUT PAGE PAGE                */
/*---------------------------------------- */
.about_container{
	margin-top: 40px;
}
.about_container .about_nav{
	text-align: center;
}
.about_container .about_nav li{
	list-style: none;
}
.about_container .about_nav li a{
	text-decoration: none;
	color: #659DBD;
}
.about_container .about_nav li a:hover{
	color: #062f4f;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            CONTACT PAGE                */
/*---------------------------------------- */
div.container.contact_container{
	padding: 40px 80px;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            SKILLS PAGE                */
/*---------------------------------------- */
div.card.skills_card{
    margin: 15px auto;
    max-width: 1500px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align: center;
}

div.card.skills_card h2{
    font-size: 3rem;
    color: lightgray;
    text-decoration: rgba(0, 0, 0, 0.05) underline;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            ADMIN GENERAL                */
/*---------------------------------------- */
/* Dashbord */
 div.content div.wrapper.d-flex{
	/* min-height: 500px;
	background-attachment: fixed;
	    background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(img/00.jpg); */
	min-height: 450px;
}

div.col-xl-12.col-md-12.col-sm-12.mx-auto section{
	padding: 70px;
}




/*SideNavBar*/
div.sidebar a.nav-link{
	padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
} 
div.sidebar a.nav-link:hover,
div.card.global_view a:hover{
	background-color: rgba(0, 0, 0, 0.08) !important;
}
div.sidebar a.nav-link span, 
div.sidebar a.nav-link i:hover,
div.card.global_view i:hover{
	color: lightslategray;
}
div.sidebar a.nav-link i, 
div.card.global_view i,
div.sidebar a.nav-link span:hover{
	color: #083b66;
}
div.sidebar a.nav-link span.out:hover, 
div.sidebar a.nav-link i.out:hover{
	color: crimson;
}
/*main content*/
div.content.col-9{
	padding: 15px;
}
/*Pagination*/

.pagination{
	justify-content: center;
}
div.wrapper.d-flex div.content.col-9 a.page-link{
	border: none;
	color: goldenrod;
}
li.page-item.active span.page-link{
	background-color: lightgray;
	border: none;
	border-radius: 50%;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            PRIVACY POLICY PAGE                */
/*---------------------------------------- */
.privacy_policy p{
	padding: 30px;
	
}
.privacy_policy ul li{
	list-style: square;
	text-align: left;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            LEGAL NOTICES PAGE                */
/*---------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            SECURITY CONNEXION PAGE                */
/*---------------------------------------- */
div.container.connexion_container{
	padding: 40px 400px;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            SECURITY REGISTRATION PAGE                */
/*---------------------------------------- */
div.container.registration_container{
	padding: 40px 200px;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) DASHBOARD PAGE                */
/*---------------------------------------- */
.sideMenu
{
	border-right: solid 4px #343a40;
}
#dropDownMenuAdmin.dropdown-menu {
	left: -50% !important;
}

hr
{
	border-top:solid 2px #d5dce0 !important;
}
a.list-group-item{
	border: 2px solid lightgray;
}
div.card, div.card.global_view{
	text-align: center;
	border: none;
}
div.card.global_view i{
	font-size: 35px;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) COMMENTS PAGE                */
/*---------------------------------------- */
.comment_col{
	color: darkgray;
}
.message_box{
	position: relative;
	background-color: white;
	border: 1px solid gainsboro;
	margin-bottom: 20px;
	padding: 15px;
}
.message_box:before, .message_box:after{
	z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

.message_box:after{
	-webkit-transform: rotate(8deg);
	-moz-transform: rotate(8deg);
	-o-transform: rotate(8deg);
	-ms-transform: rotate(8deg);
	transform: rotate(8deg);
	right: 10px;
	left: auto;
}

.log_message{
	text-transform: uppercase;
	color: #083b66;
	font-size: 25px;
	font-weight: 600;
}
.btn-warning{
	background-color: none;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) REPORTED PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) PROFILE PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) PROJECTS PAGE                */
/*---------------------------------------- */
div.card.mb-6.projectCard{
	margin: 25px;
	padding: 15px;
	border: none;
}
div.wrapper.d-flex div.row{
	margin-top: 50px;
	margin-left: 30px;
	border: none;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) SUBSCRIBERS PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) EDIT-PROFILE PAGE                */
/*---------------------------------------- */
div.profile.mr-3{
	margin-top: 10px;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) ADD-PROJECT in FORMPROJECT PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) EDIT-PROJECT in FORMPROJECT PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (PROFILE) DASHBOARD PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (PROFILE) SHOW-PROFILE PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (PROFILE) EDIT-PROFILE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (PROFILE) REPORTED PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (PROFILE) COMMENTS PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------     MEDIA QUERIES     ----------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==                  On screens that are 992px wide or less Tablette Type         */
/*---------------------------------------- */
@media screen and (max-width: 992px) {
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==                  On screens that are 600px wide or less Samrtphone Type         */
/*---------------------------------------- */

@media screen and (max-width: 600px) {
	/* --------------------------------------------------------------------------------------------------------------------------- */
	/* ==            GENERAL                */
	/*---------------------------------------- */
	/*NavBar top*/
	nav#mainNav.black, nav#mainNav{
		padding: 0px;
	}
	nav#mainNav div.row{
		margin-right: 0px;
		margin-left: 0px;
	}
	div.myLogo.col-4{
		position: absolute;
		top: -140px;
		right: 10px;
	}
	div.connexion_group.col-8{
		position: absolute;
		top: -40px;
		justify-content: center;
		max-width: 100%;
	}
	/*Top container Blue Bricks Background */
	.main_title_topContainer{
		text-align: center;
		min-height: 350px;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(../img/wall.jpg);
	}
	.main_title{
		font-size: 2.5rem;
		left: 1%;
	}
	/* --------------------------------------------------------------------------------------------------------------------------- */
	/* ==            SKILLS                */
	/*---------------------------------------- */
	section div.card.skills_card div.row.text-content{
		display: flex;
		flex-direction: column;
	}
	/* --------------------------------------------------------------------------------------------------------------------------- */
	/* ==            CONTACT PAGE                */
	/*---------------------------------------- */
	div.container.contact_container{
		padding: 10px 20px;
	}
	div#contactForm.mt-4 form div.row{
		flex-direction: column;
	}
	/* --------------------------------------------------------------------------------------------------------------------------- */
	/* ==            (ADMIN) GENERAL                */
	/*---------------------------------------- */
	/*SideBar menu*/
	div.wrapper.d-flex{
		flex-direction: column;
	}

	div.wrapper.d-flex div.sideMenu.col-2{
		max-width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}

	div.wrapper.d-flex ul.navbar-nav{
		flex-direction: row;
		justify-content: center;
		background-color: lightblue;
		border: solid 1px #062f4f;
	}

	div.wrapper.d-flex div.sidebar a.nav-link span{
		display: none;
	}
	/* --------------------------------------------------------------------------------------------------------------------------- */
	/* ==            (ADMIN) Global View                */
	/*---------------------------------------- */
	div.content.col-9{
		max-width: 100%;
	}
	div.wrapper.d-flex div.row{
		margin-left: 0px;
	}
	div.card{
		background-color: unset;
	}

}