/* ---------------------------------------- */
/* ==            GENERAL                */
/*---------------------------------------- */
/*Fonts*/
@font-face {
    font-family: 'Aquatico';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Aquatico-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Amerika';
    font-style: normal;
    font-weight: 100;
	src: url('../fonts/AMERSN__-webfont.woff') format('woff');
}

@font-face {
    font-family: 'AdventPro';
    font-style: normal;
    font-weight: 100;
	src: url('../fonts/adventpro-semibold-webfont.woff') format('woff');
}

body, html
{
	height: 100%;
	font-family: 'Amerika' !important;
}

h2, h3, h4{
	text-align: center;
}

.main_title_topContainer{
	position: relative;
	font-family: 'Aquatico';
}

/*All p*/
p{
	font-family: 'AdventPro', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/*Page h1 Titles*/
.main_title{
    position: absolute;
    top: 200px;
    left: 5%;
    right: 0%;
    font-size: 4rem;
    color: white;
    text-shadow: 0px 3px 0px #659DBD,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

/*****NAVBAR for Site pages*****/
/* Main Navbar */
nav#mainNav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	padding: 10px 100px;
	box-sizing: border-box;
	transition: .5s;
	z-index: 200;
}
/* NavBar scrolling */
nav#mainNav.black{
	background: rgba(0, 0, 0, 0.7);
	height: 130px;
	padding: 10px 50px;
}

.sectionFirst{
	height: 120px;
	width: 100%;
}
.sectionSecond{
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.connexion_group{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
/*Link for admin dashborad*/
nav#mainNav .connexion_group div.col-md-3, nav#mainNav .connexion_group div.col-md-3 a{
	color: white;
}
nav#mainNav .connexion_group div.col-md-3 a:hover{
	color: red;
	text-decoration: none;
}
/*Logo*/
.myLogo img
{
	height: 120px;
}

/*Button dropdown menu*/
button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle.connexion_btn, button.btn.btn-outline-primary:hover{
	color: #fff;
	background-color: #083b66;
	border-color: rgba(0, 0, 0, 0.01);
}

button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle.connexion_btn:hover, .btn.btn-primary.btn-xl.js-scroll-trigger:hover, button.btn.btn-outline-primary{
	color: #659DBD;
	background-color: white;
	border-color: rgba(0, 0, 0, 0.01);;
}
/*Overlay: my Nav*/
.my_overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background:rgba(0,0,0,.9);
	overflow-x: hidden;
	z-index: 5;
	transition: all 0.9s;
}

.my_overlay__content
{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.my_overlay a
{
	padding: 10px;
	color: #ffffff;
	font-size: 40px;
	text-decoration: none;
	display: block;
}

.my_overlay a:hover
{
	color: #659DBD;
	text-decoration: none;
}

.my_overlay .closeMyBtn
{
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 50px;
	color: #ffffff;
	cursor: pointer;
}

.my_overlay .closeMyBtn:hover
{
	color: #5D5C61;
}

.openMyBtn
{
	width: 30px;
	height: 20px;
	position: absolute;
	margin: 0px;
	top: 30px;
	left: 30px;
	cursor: pointer;
}

.openMyBtn span
{
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	border-radius: 9px;
}

.openMyBtn span
{
	background-color: white;
}

.openMyBtn span.homeSpan
{
	background-color: #062f4f;
}

.openMyBtn span:nth-child(1)
{
	top: 0px;
}

.openMyBtn span:nth-child(2)
{
	top: 10px;
}

.openMyBtn span:nth-child(3)
{
	top: 20px;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            HOME PAGE                */
/*---------------------------------------- */

/*Header*/
header.masthead.d-flex
{
	min-height: 95%;
	background-image: url(../img/glasses_on_computer.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: auto;
}

.main_title_home{
	color: #062f4f;
    text-shadow: 0px 2px 0px rgba(0,0,0,0.04),
                 0px 5px 8px rgba(0,0,0,0.04),
                 0px 10px 2px rgba(0,0,0,0.04),
                 0px 15px 20px rgba(0,0,0,0.04);
}

.my_name{
	color: gray;
}

/*Button "Codons ensemble"*/
.btn.btn-primary.btn-xl.js-scroll-trigger
{
	background: #659DBD;
	border: #659DBD;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            PROJECT PAGE                */
/*---------------------------------------- */

/*Images effect*/
.mainProjectCont
{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.projectContainer
{
	width: 600px;
	height: 400px;
	position: relative;
	cursor: pointer;
	margin: 5px;
}

.projectContainer:hover .post-s
{
	width: 600px;
}

.projectContainer img
{
	display: block;
	width: 600px;
	height: 400px;
}

.post-s
{
	width: 0px;
	height: 400px;
	background: rgba(0,0,0,.3);
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.9s ease;
}

.post-s h2
{
	border: 2px solid #5D5C61;
	font-size: 50px;
}

.post-s h2, .post-s p
{
	color: #ffffff;
	padding: 10px 30px;
}

.post-s p
{
	font-size: 25px;
}
/*test*/
.box8{overflow:hidden}
.box8,.box8 .icon li a{text-align:center}
.box8 .icon li,.box8 .title{display:inline-block}

.box8 .icon,.box8 .title{margin:0;position:absolute}
.box8{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative; margin: 20px;}
.box8 img{width:100%;height:auto}
.box8 .box-content{width:100%;height:100%;background:rgba(0,0,0,.6);opacity:0;position:absolute;top:0;left:0;transform:perspective(400px) rotateX(-90deg);transform-origin:center top 0;transition:all .5s ease 0s}
.box8 .icon li a,.box8 .title{background:#ef4050;font-size:20px;color:#fff}
.box8:hover .box-content{opacity:1;transform:perspective(400px) rotateX(0)}
.box8 .title{padding:5px 7px;border-radius:5px;font-weight:600;bottom:20px;left:20px;transition:all .9s ease 0s}
.box8 .icon li a,.box9 .box-content,.box9 .icon li,.box9 img{transition:all .35s ease 0s}
.box8:hover .title{bottom:-40px}
.box8 .icon{list-style:none;padding:0;top:42%;left:0;right:0}
.box8 .icon li a{display:block;width:40px;height:40px;line-height:40px;border-radius:50%;margin-right:7px}
.box9 .icon,.box9 .title{width:100%;font-size:22px}
.box8 .icon li a:hover{background:#fff;color:#000}
@media only screen and (max-width:990px){.box8{margin-bottom:20px}
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            SHOW ONE PROJECT PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            ABOUT PAGE PAGE                */
/*---------------------------------------- */
.about_container{
	margin-top: 40px;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            CONTACT PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            SKILLS PAGE                */
/*---------------------------------------- */
div.card.skills_card{
    margin: 15px auto;
    max-width: 1500px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align: center;
}

div.card.skills_card h2{
    font-size: 3rem;
    color: lightgray;
    text-decoration: rgba(0, 0, 0, 0.05) underline;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            ADMIN GENERAL                */
/*---------------------------------------- */
.pagination{
	justify-content: center;
}

/*SideNavBar*/
div.sidebar a.nav-link{
	padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
} 
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            SECURITY CONNEXION PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            SECURITY REGISTRATION PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) DASHBOARD PAGE                */
/*---------------------------------------- */
.sideMenu
{
	border-right: solid 0.2px #659dbd;
}
#dropDownMenuAdmin.dropdown-menu {
	left: -50% !important;
}

hr
{
	border-top:solid 2px #659dbd !important;
}
/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) COMMENTS PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) REPORTED PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) PROFILE PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) PROJECTS PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) SUBSCRIBERS PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) EDIT-PROFILE PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) ADD-PROJECT in FORMPROJECT PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (ADMIN) EDIT-PROJECT in FORMPROJECT PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (PROFILE) DASHBOARD PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (PROFILE) SHOW-PROFILE PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (PROFILE) EDIT-PROFILE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (PROFILE) REPORTED PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==            (PROFILE) COMMENTS PAGE                */
/*---------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------     MEDIA QUERIES     ----------------------------------------------- */

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==                  On screens that are 992px wide or less          */
/*---------------------------------------- */
@media screen and (max-width: 992px) {
}

/* --------------------------------------------------------------------------------------------------------------------------- */
/* ==                  On screens that are 600px wide or less          */
/*---------------------------------------- */

@media screen and (max-width: 600px) {
    
}