{% extends 'adminBase.html.twig' %}
{% block title %}ABONNÉS
{% endblock %}
{% block adminPageTitle %}ABONNÉS
{% endblock %}
{% block body %}
    <div class="content col-9">
		<div class="container">
            <section>
                <h2>
                    <span style="text-transform:uppercase">Toute ma communauté</span>
                </h2>
                {% for user in users %}
                    <div class="row">
                        <div class="col-5">
                            <span style="text-transform:uppercase">{{ user.username }}</span>
                        </div>
                        <div class="col-5">
                            {{  user.createdAt | date('d/m/Y') }}
                        </div>
                        <div class="col-2">
                            <a class="btn btn-danger" href="{{ path('admin_delete_user', {'id': user.id}) }}" role="button">Supprimer</a>
                        </div>
                        <hr align="center" size="8" width="100%"/>
                    </div>
                {% endfor %}
            </section>
            <div class="pagination">
                {{ knp_pagination_render(users) }}
            </div>
        </div>
    </div>
{% endblock %}
